**/certs/**
# **/logs/**

## Bucket folder on dev machine for archiving files rapidly
**/old/
## Ignore assets created by the infrastructure or by the scenario operation.
assets/scenario/**
## Ignore terraform state related files
.terraform*
terraform.tfstate*

*.DS_Store

**/instruqt/

# *.pem
# acl-token-bootstrap.json
